sudo: true
language: java
matrix:
  include:
    - jdk: openjdk11
script: "mvn install"

# Fix OpenJDK build. Issue: https://github.com/travis-ci/travis-ci/issues/5227 
addons:
  hostname: short-hostname
  
